@page
@model Company.Web.Pages.Candidate.IndexModel
@{
    ViewBag.Title = "List of Candidates";
}

<div class="mainboard" style="--mw:960px;">
    <div class="d-flex gap-2 justify-content-between m-2 p-2">
        <h2 class="text-primary">List of Candidates</h2>
        <a class="btn btn-primary fw-semibold my-1" href="/candidate/add">+ Add New</a>
    </div>
    <div class="mb-4">
        <table class="table table-bordered">
            <tr>
                <th class="text-center">#</th>
                <th>Name of Candidate</th>
                <th>Apply date</th>
                <th>Target Position</th>
                <th class="text-center">Actions</th>
            </tr>
            @{
                var i = 1;
            }
            @foreach (var candidate in Model.List)
            {
                <tr>
                    <td class="text-center row-name">@(i++)</td>
                    <td>@candidate.FullName</td>
                    <td>@candidate.StartDate.ToString("yyyy-MM-dd")</td>
                    <td>@(candidate.TargetPosition == null ? "No position" : candidate.TargetPosition.Name)</td>
                    <td class="text-center align-middle" style="padding:2px;">
                        <a asp-page="details" asp-route-id="@candidate.Id" class="btn btn-success py-1"><i class="bi bi-info-lg"></i></a>
                        <a asp-page="edit" asp-route-id="@candidate.Id" class="btn btn-warning py-1"><i class="bi bi-pencil"></i></a>
                        <form method="post" style="display: inline">
                            <input type="hidden" name="id" value="@candidate.Id" />
                            <button type="submit" asp-page-handler="Delete" class="btn btn-danger py-1" onclick="return confirm('Do you want to delete @candidate.FullName?')">
                                <i class='bi bi-trash'></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
